.Rproj.user
.Rhistory
.RData
.Ruserdata
/docs/research_files/figure-html/widgets/widget_unnamed-chunk-1.html/
/docs/research_files/figure-html/widgets/widget_unnamed-chunk-2.html/
/research_files/figure-html/widgets/widget_unnamed-chunk-1.html/
/research_files/figure-html/widgets/widget_unnamed-chunk-2.html/
docs/research_files/figure-html/widgets/widget_unnamed-chunk-1.html
docs/research_files/figure-html/widgets/widget_unnamed-chunk-2.html
research_files/figure-html/widgets/widget_unnamed-chunk-1.html
research_files/figure-html/widgets/widget_unnamed-chunk-2.html


/.quarto/
.Rproj.user/
.quarto/
research_files/
*.html
*.json
lock_file
/.quarto/_freeze/
/.quarto/xref/
_cite
_data
.venv
